XTerm*backarrowKey: false
XTerm*background: #1a1b26
XTerm*color0: #565f89
XTerm*color10: #9ece6a
XTerm*color11: #e0af68
XTerm*color12: #7aa2f7
XTerm*color13: #bb9af7
XTerm*color14: #7dcfff
XTerm*color15: #c0caf5
XTerm*color1: #f7768e
XTerm*color2: #9ece6a
XTerm*color3: #e0af68
XTerm*color4: #7aa2f7
XTerm*color5: #bb9af7
XTerm*color6: #7dcfff
XTerm*color7: #c0caf5
XTerm*color8: #565f89
XTerm*color9: #f7768e
XTerm*cursorColor: #565f89
XTerm*faceName: NotoSansM Nerd Font Mono
XTerm*faceSize: 15
XTerm*foreground: #c0caf5
XTerm*metaSendsEscape: true
Xft.dpi: 144
